.main_card {
  background-color: #1b2035;
  color: #b9b9d8 !important;
}

.custom_input_bg {
  background-color: #293047 !important;
  outline: none !important;
  color: #b9b9d8 !important;
}
/* background-color: #293047 !important; */
.custom_button {
  background-color: #293047 !important;
  color: #c3c3d3 !important;
}
.custom_button:hover {
  color: #dedee7 !important;
  background-color: #293047 !important;
}
.sub_card_bg {
  background-color: #293047 !important;
  color: #b9b9d8 !important;
}

.text_color {
  color: #b9b9d8 !important;
}
.input_icon_div {
  background-color: #293047 !important;
  color: #8c5ca4 !important;
  cursor: pointer;
}

.form-control:focus {
  box-shadow: 0 0 0 0.05rem #8c5ca4 !important;
}

body {
  background-color: #293047 !important;
  overflow-x: hidden;
}

.custom_warning_toast {
  color: #303958 !important;
  font-weight: 500 !important;
}

.connection_success_button {
  border: 1px solid #8c5ca4 !important;
  background-color: #8c5ca4 !important;
  color: #b9b9d8 !important;
}
